<header class="main-header">
  <div class="header-content">
    <h2>Guitar Practice Cloud</h2>
    <small>Le cloud qui manque à votre ampli</small>
  </div>
  @if (auth.token()) {
    <div class="user">
      <span>Bonjour {{ auth.currentUser()?.name }}. Ravis de te voir parmi nous !</span>
    </div>
  }
  <nav aria-label="Navigation principale" class="main-nav">
    <a routerLink="/tracks">Backing tracks</a>
    <a routerLink="/profile">Profil</a>
    @if (auth.token()) {
      <button type="button" (click)="logout()">Déconnexion</button>
    } @else {
      <a routerLink="/login">Connexion</a>
    }
  </nav>
</header>

<main>
  <router-outlet />
</main>
