<section class="card">
  <h1>Connexion</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <label>
      Email
      <input type="email" formControlName="email" />
      @if (getErrorMessage('email'); as msg) {
        <small class="field-error">{{ msg }}</small>
      }
    </label>

    <label>
      Mot de passe
      <input type="password" formControlName="password" />
      @if (getErrorMessage('password'); as msg) {
        <small class="field-error">{{ msg }}</small>
      }
    </label>

    <button type="submit" [disabled]="form.invalid">Se connecter</button>
  </form>

  @if (error()) {
    <p class="error">{{ error() }}</p>
  }
  <p><a routerLink="/register">Créer un compte</a></p>
</section>